@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
.jetbrains-mono {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
*{
    font-family: "JetBrains Mono";
    margin: 0;
    padding: 0;
    gap: 0;
    border: 0;
    color: #52B69A;
}
body{
    background-color: #184E77;
}
.container{
    gap: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 15fr 1fr;
    grid-template-areas: 
    "header blank"
    "menu content"
    "footer footer";
    height: 100vh;
}
/*Header*/
    .container div.header{
        display: flex;
        justify-content: center;
        align-items: center;
        border: .25rem solid #1E6091;
        border-top: 0;
        border-left: 0;
        text-align: center;
        border-radius: 0 0 1rem 0;
        background-image: linear-gradient(to bottom, #1B5784, #184E77);
        grid-area: header;
        position: sticky;
        left: 0;
        top: 0;
    }
    .container div.header img{
        float: left;
        border-radius: 50%;
        height: 5rem;
        padding: 1rem;
    }
    .container div.header h1{
        padding: 1rem 1rem 1rem 0;
        width: max-content;
    }
/*Menu*/
    .container div.menu{
        display: flex;
        flex-direction: column;
        border: .25rem solid #1E6091;
        border-left: 0;
        border-radius: 0 1rem 1rem 0;
        padding: 1rem;
        background-image: linear-gradient(to bottom, #1B5784, #184E77);
        grid-area: menu;
    }
    button.menu{
        margin: 0.25rem;
        border-radius: 1rem;
        background-color: #99D98C;
        height: 3rem;
        color: #113755;
    }
    button.menu:hover{
        background-color: #52B69A;
    }
    button.menu:active{
        background-color: #168AAD;
    }
/*Content*/
    .container div.content{
        border: .25rem solid #1E6091;
        border-right: 0;
        border-radius: 1rem 0 0 1rem;
        padding: 1rem;
        background-image: linear-gradient(to bottom, #1B5784, #184E77);
        height: fit-content;
        grid-area: content;
    }
    .container div.innercontent{
        display: block;
    }
    .container img{
        float: right;
    }
    .container p{
        line-height: 2rem;
    }
/*Footer*/
    .container div.footer{
        color: #52B69A;
        position: sticky;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 1rem;
        background-color: #113755;
        grid-area: footer;
    }
    .container div.footer h3{
        color: #52B69A;
    }
.container div.blank{
    grid-area: blank;
}
p{
    color: #D9ED92;
}